<!--
     File name: error.ejs
     File Type: Template
     Student's name: Sukhjinder Kaur
     Student ID: 301087895
     Date: 10/10/2020
-->

<!--Contains page header-->
<%- include partials/shared/header.ejs%>
<!--Contains nav bar of page-->
<%- include partials/shared/main_nav.ejs%>

<!--Error display div-->
<main role="main" class="container">
     <section class="jumbotron">
          <h1><%= message %></h1>
          <h2><%= error.status %></h2>
          <pre><%= error.stack %></pre>
     </section>
</main>

<!--Contains copyright and footer of page-->
<%- include partials/shared/bottom_nav.ejs%>
<!--Contains all scripts-->
<%- include partials/shared/footer.ejs%>
